{% extends 'dashboard/base.html' %}

{% block MainContent %}

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-11">
                            Filter
                        </div>
                        <div class="col-1">
                            <a href="{% url 'patient_medical_history' %}">
                                <i class="tim-icons icon-refresh-01"> Reset</i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 px-md-1 mt-1">
                                <select class="form-control" name="category">
                                    <option class="form-control" value="patient_name" style="color: black" selected>
                                        Patient Name
                                    </option>
                                    <option class="form-control" value="patient_id" style="color: black">
                                        Patient User ID
                                    </option>
                                    <option class="form-control" value="city" style="color: black">
                                        City
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7 px-md-1 mt-1">
                                <input type="text" class="form-control" placeholder="Ex: Joe, 54321, or London"
                                       name="search_term">
                            </div>
                            <div class="col-md-2 px-md-1">
                                <input type="submit" value="Search" class="btn btn-fill btn-info">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">Your Patients (including previous and upcoming patients)</h4>
                </div>
                <div class="card-body">
                    <div class="table">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Gender
                                </th>
                                <th class="text-center">
                                    Place
                                </th>
                                <th class="text-center">
                                    History
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for patient in patients %}
                                <tr>
                                    <td>
                                        {{ patient.user.id }}
                                    </td>
                                    <td>
                                        {{ patient.user.first_name }} {{ patient.user.last_name }}
                                    </td>
                                    <td>
                                        {{ patient.user.email }}
                                    </td>
                                    <td>
                                        {{ patient.gender }}
                                    </td>
                                    <td class="text-center">
                                        {{ patient.city }}, {{ patient.iso_country_code }}
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'medical_profile' patient_id=patient.id %}">View History</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}