{% extends 'dashboard/base.html' %}


{% block MainContent %}

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-11">
                            Filter
                        </div>
                        <div class="col-1">
                            <a href="{% url 'doc_search' %}">
                                <i class="tim-icons icon-refresh-01"> Reset</i>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 px-md-1 mt-1">
                                <select class="form-control" name="category">
                                    <option class="form-control" value="doctor" style="color: black" selected>Doctor Name</option>
                                    <option class="form-control" value="occupation" style="color: black">Specialization</option>
                                    <option class="form-control" value="city" style="color: black">Another City</option>
                                </select>
                            </div>
                            <div class="col-md-7 px-md-1 mt-1">
                                <input type="text" class="form-control" placeholder="Ex: Joe, Dentist, or London"
                                       name="search_term">
                            </div>
                            <div class="col-md-2 px-md-1">
                                <input type="submit" value="Search" class="btn btn-fill btn-info">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">Here're the doctors in
                        {% if same_city %}
                        your city
                        {% else %}
                        {{ city }}
                        {% endif %}
                    </h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Specialization
                                </th>
                                <th>
                                    Address
                                </th>
                                <th class="text-center">
                                    City
                                </th>
                                <th class="text-center">
                                    Country
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for doctor in doctors %}
                            <tr>
                                <td>
                                    {{ doctor.id }}
                                </td>
                                <td>
                                    {{ doctor.user.first_name }} {{ doctor.user.last_name }}
                                </td>
                                <td>
                                    {{ doctor.occupation }}
                                </td>
                                <td>
                                    {{ doctor.address }}
                                </td>
                                <td class="text-center">
                                    {{ doctor.city }}
                                </td>
                                <td class="text-center">
                                    {{ doctor.iso_country_code }}
                                </td>
                                <td>
                                    <a href="{% url 'doc_details' doctor_id=doctor.id %}" class="btn btn-fill btn-primary">Book a visit!</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}