{% extends 'dashboard/base.html' %}


{% block MainContent %}

    <div class="row">
        <div class="col-lg-9 col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-11">
                            Filter
                        </div>
                        <div class="col-1">
                            <a href="{% url 'ud_prev_visits' %}">
                                <i class="tim-icons icon-refresh-01"> Reset</i>
                            </a>

                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3 px-md-1 mt-1">
                                <select class="form-control" name="category">
                                    <option class="form-control" value="doctor" style="color: black">Doctor</option>
                                    <option class="form-control" value="purpose" style="color: black">Purpose</option>
                                    <option class="form-control" value="diagnosis" style="color: black">Diagnosis</option>
                                </select>
                            </div>
                            <div class="col-md-7 px-md-1 mt-1">
                                <input type="text" class="form-control" placeholder="Ex: Joe or COVID"
                                       name="search_term">
                            </div>
                            <div class="col-md-2 px-md-1">
                                <input type="submit" value="Search" class="btn btn-fill btn-info">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4>Book a visit today!</h4>
                    <a href="{% url 'doc_search' %}" class="btn btn-fill btn-primary"> + Book a new Visit</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title">Your Previous Visits</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                    Visit ID
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Doctor
                                </th>
                                <th class="text-center">
                                    Purpose
                                </th>
                                <th class="text-center">
                                    Diagnosis
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for visit in visits %}
                            <tr>
                                <td>
                                    {{ visit.id }}
                                </td>
                                <td>
                                    {{ visit.date_time.date }}
                                </td>
                                <td>
                                    {{ visit.date_time.time }}
                                </td>
                                <td>
                                    {{ visit.doctor.first_name }} {{ visit.doctor.last_name }}
                                </td>
                                <td class="text-center">
                                    {{ visit.purpose }}
                                </td>
                                <td class="text-center">
                                    {{ visit.diagnosis }}
                                </td>
                                <td>
                                    <a href="#">View Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}